{% extends "base_generic.html" %}

{% block content %}
  <h1>Premier League Match Scores</h1>
  <p>A list of Scores from the current match week <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>Todays Date</p>
  <!-- <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul> -->
{% endblock %}